  /* Styles go here */
  
  /* Sticky footer styles
  -------------------------------------------------- */
  
  html,
  body {
    height: 100%;
    
    /* The html and body elements cannot have any padding or margin. */
  }
  
  /* Wrapper for page content to push down footer */
  #wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
  }
  
  /* Set the fixed height of the footer here */
  #footer {
    height: 60px;
    background-color: #D3D7DA;
    font-family: Ubuntu;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /*margin in footer text*/
  
  .container .credit {
    margin: 20px 0;
  }


@font-face {
  font-family: Lobster;

  src: url('../fonts/lobster.otf');
 }


@font-face {
  font-family: Ubuntu;

  src: url('../fonts/Ubuntu-L.ttf');
 }


 .logo {

  font-family: Lobster;
  font-size: 60px;
 }
  


 .page-header{

  font-family: Lobster;
  font-size: 60px;
  
 }

.profile-img {
    border-radius: 50%;
    height:100px;
    width:100px;
}

.col-centered{
    margin: 0 auto;
    float: none;
}

.carousel {
    height: 50%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
    width:100%;
    border:1px solid #bbb;
    
  
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:100%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:300px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:60px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}